<% layout('layouts/boilerplate') %>

<div id="cluster-map"></div>
<h1 class="text-center my-4 custom-text">All Campgrounds</h1>

<div class="container">
    <div class="row g-4">
        <% for(let campground of campgrounds) { %>
        <div class="col-md-6 col-lg-4">
            <div class="card bg-secondary shadow-lg text-light">
                <% if(campground.images.length > 0) { %>
                <img src="<%= campground.images[0].url%>" alt="Campground Image" class="card-img-top rounded-top" style="height: 200px; object-fit: cover;">
                <% } else { %>
                <img src="https://res.cloudinary.com/dvybnjeu2/image/upload/w_200/v1739303853/YelpCamp/sjiayoeej5mnnebqg4gr.jpg" alt="Default Image" class="card-img-top rounded-top" style="height: 200px; object-fit: cover;">
                <% } %>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title custom-text"><%= campground.title %></h5>
                    <p class="card-text custom-text"><%= campground.location %></p>
                    <p class="card-text flex-grow-1 custom-text"><%= campground.description %></p>
                    <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary shadow-sm mt-auto" style="width: 200px;">View Campground</a>
                </div>
            </div>
        </div>
        <% } %>
    </div>
</div>


<script>
    const maptilerApiKey = '<%- process.env.MAPTILER_API_KEY %>';
    const campgrounds = { features: <%- JSON.stringify(campgrounds) %>}
</script>

<script src="/javascripts/clusterMap.js"></script>